<h1><%= @traveler.name%></h1>
 Age: <%= @traveler.age%>

<br>
<br>


Here is your favorite countries: 
<ul>
<% @traveler.favorite_countries.each do |country|%>
  <li>
   <%= link_to country.name, country%>
  </li> 
</ul>  
<% end %>

