<h1><%= @country.name %></h1>
<%= @country.description%>

<br>
<br>

Here is the list of all travelers:
<ul>
<% @country.travelers.uniq.each do |traveler| %>
<%=link_to traveler.name, traveler%>
<% end %>
</ul>